.AboutJourney {
  display: block;
  background: #180000;
  margin-top: 100px;
  .wrapper {
    width: 1200px;
    margin: auto;
    padding-bottom: 80px;
    .content {
      display: flex;
      justify-content: space-between;
      align-items: end;
      .text {
        width: 46%;
        h2 {
          font-size: 16px;
          color: #ff6e4e;
          margin: 0;
          padding: 10px 0px;
          text-transform: uppercase;
          font-weight: 500;
        }
        h3 {
          font-size: 40px;
          color: #fff;
          margin: 0;
          padding: 10px 0px;
          font-weight: 500;
          font-family: Georgia, "Times New Roman", Times, serif;
        }
        p {
          font-size: 17px;
          color: #fff;
          margin: 0;
          padding: 10px 0px;
          font-weight: 500;
          line-height: 30px;
        }
      }
      .image {
        width: 46%;
        margin-top: -100px;
        height: 650px;
        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
          border-radius: 300px 300px 10px 10px;
        }
      }
    }
    .rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0px;
      border-top: solid 1px #fff;
      border-bottom: solid 1px #fff;
      margin-top: 50px;
      .number {
        display: block;
        width: 24%;
        text-align: center;
        padding: 15px 0px;
        h2 {
          font-size: 35px;
          color: #fff;
          margin: 0;
          padding: 0;
          font-weight: 500;
          font-family: "Times New Roman", Times, serif;
        }
        h3 {
          font-size: 16px;
          color: #fff;
          margin: 0;
          padding: 15px 0px;
          font-weight: 500;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .AboutJourney {
    display: block;
    margin-top: 20px;
    padding: 0px 10px;
    .wrapper {
      width: 100%;
      padding: 50px 0px;
      .content {
        display: block;
        .text {
          width: 100%;
          p {
            font-size: 16px;
          }
        }
        .image {
          width: 100%;
          margin-top: 50px;
          height: auto;
        }
      }
      .rating {
        flex-wrap: wrap;
        .number {
          width: 48%;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .AboutJourney {
    display: block;
    margin-top: 20px;
    padding: 0px 10px;
    .wrapper {
      width: 100%;
      padding: 50px 0px;
      .content {
        align-items: flex-start;
        .text {
          width: 48%;

          p {
            font-size: 15px;
            line-height: 25px;
          }
          h3 {
            font-size: 35px;
          }
        }
        .image {
          width: 48%;
          margin: 0;
          height: 460px;
          img {
            border-radius: 350px 350px 10px 10px;
          }
        }
      }
      .rating {
        flex-wrap: wrap;
        .number {
          width: 48%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .AboutJourney {
    display: block;
    margin-top: 100px;
    padding: 0px 10px;
    .wrapper {
      width: 100%;
      .content {
        .image {
          margin-top: -70px;
        }
      }
    }
  }
}
