.AboutImage {
  display: block;
  .content {
    display: block;
    width: 100%;
    position: relative;
    span {
      display: block;
      height: 550px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #180000;
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0.7;
      }
    }
    .text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      left: 0;
      .wrapper {
        width: 800px;
        margin: auto;
        text-align: center;
        h2 {
          font-size: 18px;
          color: #fff;
          margin: 0;
          padding: 0;
          font-weight: 600;
          text-transform: uppercase;
          font-family: monospace;
          letter-spacing: 1px;
        }
        h3 {
          font-size: 67px;
          margin: 0;
          padding: 10px 0px;
          color: #fff;
          font-weight: 500;
          font-family: "Times New Roman", Times, serif;
        }
        p {
          font-size: 16px;
          margin: 0;
          padding: 0;
          color: #fff;
          font-weight: 500;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          line-height: 27px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .AboutImage {
    display: block;
    .content {
      width: 100%;
      .text {
        .wrapper {
          width: auto;
          h3 {
            font-size: 45px;
            padding: 10px 10px;
          }
          p {
            padding: 0px 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .AboutImage {
    display: block;
    .content {
      width: 100%;
      .text {
        .wrapper {
          width: auto;
          h3 {
            font-size: 45px;
            padding: 10px 10px;
          }
          p {
            padding: 0px 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .AboutImage {
    display: block;
    .content {
      width: 100%;
      .text {
        .wrapper {
          width: auto;
          h3 {
            font-size: 45px;
            padding: 10px 10px;
          }
          p {
            padding: 0px 10px;
          }
        }
      }
    }
  }
}
