.ContactTab {
  display: block;
  padding: 50px 0px;
  background: #fef7f5;
  .wrapper {
    display: block;
    width: 1200px;
    margin: auto;
    padding-bottom: 30px;
    .content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .left {
        width: 48%;
        display: block;
        h2 {
          font-size: 50px;
          color: #000;
          margin: 20px 0px;
          padding: 0;
          font-weight: 500;
        }
        p {
          font-size: 16px;
          color: #666;
          margin: 0;
          padding: 0px 0px;
          font-weight: 500;
          line-height: 27px;
        }
      }
      .mainbox {
        display: block;
        width: 48%;
        .detail {
          display: block;
          border-bottom: solid 2px #000;
          margin-top: 20px;
          padding-bottom: 20px;
          h2 {
            font-size: 22px;
            color: #000;
            margin: 0;
            padding: 0;
            font-weight: 500;
            cursor: pointer;
            &.active {
              color: #ff0000;
            }
          }
          p {
            display: none;
            font-size: 16px;
            color: #666;
            margin: 0;
            padding: 10px 0px;
            font-weight: 500;
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .ContactTab {
    display: block;
    padding: 50px 10px;
    .wrapper {
      width: 100%;
      .content {
        display: block;
        .left {
          width: 100%;
        }
        .mainbox {
          width: 100%;
          margin-top: 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .ContactTab {
    display: block;
    padding: 50px 10px;
    .wrapper {
      width: 100%;
      .content {
        .left {
          width: 48%;
        }
        .mainbox {
          width: 48%;
        }
      }
    }
  }
}
