.contactFormbox {
  width: 48%;
  display: block;
  .formbox {
    display: block;
    label {
      font-size: 17px;
      color: #000;
      margin: 0;
      padding: 0px 0px;
      font-weight: 600;
      span {
        color: #ff0000;
      }
    }
    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .data {
        width: 47%;
        display: block;
        margin-top: 15px;
        .error {
          color: #ff0000;
        }
        input {
          height: 40px;
          width: 100%;
          outline: none;
          border: solid 1px rgb(0 0 0 / 25%);
          border-radius: 8px;
          font-size: 16px;
          color: #666;
          font-weight: 500;
          padding: 0px 10px;
          transition: ease-out 0.6s;
          &:focus {
            outline: solid 2px #ff0000;
            box-shadow: 0 0 10px #dbdade;
            backdrop-filter: saturate(200%) blur(6px);
          }
        }
        h2 {
          font-size: 15px;
          color: #666;
          margin: 0;
          padding: 5px 0px;
          font-weight: 500;
          text-transform: capitalize;
        }
      }
    }
  }
  .formbar {
    margin-top: 25px;
    display: block;
    label {
      font-size: 17px;
      color: #000;
      margin: 0;
      padding: 0px 0px;
      font-weight: 600;
      span {
        color: #ff0000;
      }
    }
    .boxdata {
      display: block;
      margin-top: 15px;
      .error {
        color: #ff0000;
        margin-top: 10px;
        display: block;
      }
      input {
        height: 40px;
        width: 100%;
        outline: none;
        border: solid 1px rgb(0 0 0 / 25%);
        border-radius: 8px;
        font-size: 16px;
        color: #666;
        font-weight: 500;
        padding: 0px 10px;
        transition: ease-out 0.6s;

        &:focus {
          outline: solid 2px #ff0000;
          box-shadow: 0 0 10px #dbdade;
          backdrop-filter: saturate(200%) blur(6px);
        }
      }
      textarea {
        width: 100%;
        outline: none;
        border-radius: 8px;
        border: solid 1px rgb(0 0 0 / 25%);
        padding: 10px 10px;
        font-size: 16px;
        color: #666;
        font-weight: 500;
        height: 150px;
        display: block;
        transition: ease-out 0.6s;
        &:focus {
          outline: solid 2px #ff0000;
          box-shadow: 0 0 10px #dbdade;
          backdrop-filter: saturate(200%) blur(6px);
        }
      }
    }
  }
  button {
    font-size: 18px;
    color: #fff;
    background: #ff0000;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    border: solid 1px #ff0000;
    margin-top: 25px;
    &:hover {
      background: #000;
      border-color: #000;
    }
  }
}

@media only screen and (max-width: 800px) and (min-width: 360px) {
  .contactFormbox {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 40px;
    .formbox {
      .box {
        display: block;
        .data {
          width: 95%;
        }
      }
    }
    .formbar {
      display: block;
      .boxdata {
        input {
          width: 95%;
        }
        textarea {
          width: 95%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .contactFormbox {
    width: 48%;
    .formbox {
      .box {
        display: block;
        .data {
          width: 95%;
        }
      }
    }
    .formbar {
      display: block;
      .boxdata {
        input {
          width: 95%;
        }
        textarea {
          width: 95%;
        }
      }
    }
  }
}
